.custom-cursor {
  cursor: url("../images/cursor.png") 10 10, auto;
}

.bg_principle {
  /* background-image: radial-gradient(73% 147%, #eadfdf 59%, #ece2df 100%),
    radial-gradient(
      91% 146%,
      rgba(255, 255, 255, 0.5) 47%,
      rgba(0, 0, 0, 0.5) 100%
    );
  background-blend-mode: screen; */
  background-color: floralwhite;
  border-radius: 20px;
}

.feature_card:hover {
  background-color: #ffcc00; /* Set the background color on hover */
}

.card_principle {
  max-width: 1000px;
}

.card_body_principle {
  /* background-image: radial-gradient(73% 147%, #eadfdf 59%, #ece2df 100%),
    radial-gradient(
      91% 146%,
      rgba(255, 255, 255, 0.5) 47%,
      rgba(0, 0, 0, 0.5) 100%
    );
  background-blend-mode: screen; */
  background-color: floralwhite;
}

.get-features {
  text-align: justify;
  background: linear-gradient(
    to bottom,
    rgb(232, 207, 189),
    rgb(232, 207, 189)
  );
}

.padding-percent {
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

.truncated-text {
}
.mobile_update {
  font-size: 18px;
}

@media only screen and (max-width: 1800px) {
  .padding-percent {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 20px;
  }

  .truncated-text {
    white-space: nowrap; /* Prevent text from wrapping onto the next line */
    overflow: hidden; /* Hide any content that overflows the box */
    text-overflow: ellipsis; /* Display an ellipsis (...) to indicate truncated text */
    max-width: 200px; /* Set a maximum width for the container */
    transition: max-width 0.3s ease;
  }

  .truncated-text:hover {
    text-align: justify;
    white-space: normal; /* Allow text to wrap */
    max-width: none; /* Remove the max-width limit on hover or click */
  }

  .mobile_update {
    white-space: nowrap; /* Prevent text from wrapping onto the next line */
    font-size: 16px;
    overflow: hidden; /* Hide any content that overflows the box */
    text-overflow: ellipsis; /* Display an ellipsis (...) to indicate truncated text */
    max-width: 400px; /* Set a maximum width for the container */
    max-height: 110px;
    transition: max-width 0.3s ease;
  }
  .truncated-text:hover {
    text-align: justify;
    white-space: normal; /* Allow text to wrap */
    max-width: none; /* Remove the max-width limit on hover or click */
  }
}
