.bg-nav {
  background-color: bisque;
}

.padding-navbar {
  padding-top: 40px;
  padding-bottom: 40px;
}

.moving-text {
  animation: moveText 15s linear infinite;
  word-wrap: break-word;
}

.moving-text-cont {
  overflow-x: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
}

@keyframes moveText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@media only screen and (max-width: 1800px) {
  .padding-navbar {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
